VITE_AJAX_URL=https://tibamef2e.com/tjd102/g2/PHP

MOUNTAIN_SECRET=your-secret-key-here

# 生成(本機端)密鑰的方式，在終端機打上
#  C:\xampp\php\php -r "echo 'MOUNTAIN_SECRET=' . bin2hex(random_bytes(32)) . PHP_EOL;"
# 會有一串代碼跑出來，複製到.env.development
# 生成(部屬端)密鑰的方式，在終端機打上在終端機打上
#  C:\xampp\php\php -r "echo 'MOUNTAIN_SECRET=' . base64_encode(random_bytes(64)) . PHP_EOL;"
# 會有一串代碼跑出來，複製到.env.production