//手機 < 430px
$s: 430px;   // （<= 430px）
@mixin s(){ 
    @media screen and (max-width: $s){
    @content; } 
}

//橫 < 768px
$m: 768px;   // 橫（<= 768px）
@mixin m(){ 
    @media screen and (max-width: $m){
    @content; } 
}


//平板
$t: 1024px;  // 平板（<= 1024px）
@mixin t(){ 
    @media screen and (max-width: $t){
     @content; } 
}


@mixin container ($max: 1200px, $pad-x: 24px){
    max-width: $max;
    margin-inline: auto;
    padding-inline: $pad-x;
      
}

@mixin peakguide-img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    border-radius: 16px;
}
