//------------------------ Color System -------------------------

//元件用
$tag: #262626;

//背景色
$bg-gray: #EFF1F2;
$bg-pink-100: #DBCBCB;
$ivory-gray-100: #F2F2E9;
$ash-olive-400: #BABAAB;

//文字
$black-14: #141414;



//------------------------ Font System -------------------------

//Google Font: Inter
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

//設定全域樣式
body {
    font-family: 'Inter', sans-serif;
    color: $black-14;
    font-size: 16px; //根字級
}


// ------------------ 字級 ------------------

// ------------ PC 字級

//裝飾性標題
$pcFont-bigTitle-l: 6rem; //96px
$pcFont-bigTitle-m: 4rem; //64px

//內容型標題
$pcFont-H1-l: 2.5rem;  //40px
$pcFont-H1-m: 2.25rem; //36px
$pcFont-H2: 2rem;      //32px
$pcFont-H3: 1.5rem;    //24px
$pcFont-H4: 1.25rem;   //20px

//內文
$pcFont-p-m: 1.25rem; //20px
$pcFont-p-s: 1rem;    //16px

//標籤
$pcFont-label: 1rem; //16px


// ------------ Mobile 字級 (待定)
$mbFont-label: 14px;



// ------------------ 字重 ------------------
$regular: 400;
$medium: 500;
$semiBold: 600;
$bold: 700;


// ------------------ 行距 ------------------

// 標題
$lineHeight-title-120: 120%;

// 段落用
$lineHeight-p-200: 200%;
$lineHeight-p-150: 150%;